%CeraPro-Bold{
  font-family: "CeraPro-Bold", sans-serif;
  font-weight: 700;
}
%CeraPro-Regular{
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
}
%Montserrat-Regular{
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}